:host {
    ::ng-deep .carousel-slide-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mat-card {
    display: flex; 
    background-color: #f1913cf6;
    max-width: 120px;
    height: 220px;
    align-items: center;
    background-size: cover;
    margin: 10px;
    padding: 5px; 
}

.image-container {
    float: left;
    width: 120px;
    height: 200px;
    object-fit: cover;   
}

.text-container {
    font-weight: bold;
    margin: 7%;
    align-content:space-between; 
}


