<!-- <div style.height="300px"> -->
<mat-carousel
  timings="250ms ease-in"
  [autoplay]="false"
  [interval]="5000"
  maxWidth="auto"
  [loop]="false"
  color="primary"
  [hideArrows]="false"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [maintainAspectRatio]="false"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; index as i"
    overlayColor="#272f33"
    [hideOverlay]="false"
  >
    <app-offer-search-card
      *ngFor="let product of slide.products"
      [item]="product"
    ></app-offer-search-card>
  </mat-carousel-slide>
</mat-carousel>
