
:host{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #286474;
  }

.example-card {
    max-width: 400px;
  }
 
  .center-content{
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

 .example-header-image {
    margin: 0;
    width:115px; 
    height:115px; 
    background-image: url("../../../assets/img/rff_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .example-full-width {
    margin-top: 7px;
    width: 100%;
  }
  .mat-button {
    margin-top: 7px;
    width: 100%;
    color: white;
    height: 45px;
    background-color: #e78200 ;
  }

  button[disabled]{
    background-color: #fdc377;
    color: #666666;
  }

// Responsive Design: Phone 
@media screen and (max-width: 500px) {
  .center-content {
    width: 90%;
  }

  .mat-card > :first-child,
  .mat-card-content > :first-child {
    margin-top: 30px;
  }

  .mat-card-subtitle {
    font-size: larger;
  }

  .mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: 30px;
  }

  .mat-card-title {
    font-size: x-large;
    text-align: center;
  }

  .mat-card-header {
    flex-direction: column;
  }

  .mat-card-avatar {
    border-radius: 0%;
  }

  .mat-card-header .mat-card-title {
    margin: 12px;
}

  .example-header-image {
    align-self: center;
    width: 185px;
    height: 115px;
  }
}