<mat-toolbar class="wrapper">
  <span class="logo" [routerLink]="'/base'"></span>
  <div class="search-group">
    <mat-form-field class="search-input">
      <mat-label>Suche ...</mat-label>
      <input matInput #searchinput />
    </mat-form-field>
    <mat-form-field class="search-dropdown hide">
      <mat-label>Kategorie</mat-label>
      <mat-select>
        <mat-option value="category_1">Kategorie 1</mat-option>
        <mat-option value="category_2">Kategorie 2</mat-option>
        <mat-option value="category_3">Kategorie 3</mat-option>
        <mat-option value="category_4">Kategorie 4</mat-option>
        <mat-option value="category_5">Kategorie 5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="location-group hide">
    <mat-form-field class="location-input">
      <mat-label>PLZ oder Ort ...</mat-label>
      <input matInput #locationinput />
    </mat-form-field>
    <button
      mat-raised-button
      aria-label="Suche starten"
      class="btn_search"
      (click)="search(searchinput.value, locationinput.value)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <button
    mat-raised-button
    aria-label="Anzeige aufgeben"
    class="btn_add"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="modalService.toggleShowModalOffer()">
      Neues Angebot erstellen
    </button>
    <button mat-menu-item (click)="modalService.toggleShowModalSearch()">
      Neue Suche aufgeben
    </button>
  </mat-menu>
  <div class="account_border"></div>
  <div class="account_div">
    <button
      mat-icon-button
      matTooltip="Account"
      [matMenuTriggerFor]="belowMenu"
    >
      <mat-icon class="account_btn">perm_identity</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item [routerLink]="'account/profile'">Profile</button>
      <button mat-menu-item [routerLink]="'account/message'">
        Meine Nachrichten
      </button>
      <button mat-menu-item [routerLink]="'account/offer-search'">
        Angebote und Suche Verwalten
      </button>
      <button mat-menu-item [routerLink]="'account/manage-friend'">
        Freunde Verwalten
      </button>
      <button mat-menu-item [routerLink]="'account/setting'">
        Einstellungen
      </button>
      <button mat-menu-item (click)="logout()">Ausloggen</button>
    </mat-menu>
  </div>
</mat-toolbar>
