
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <title>Document</title>
</head>
<body>
  <!-- <div class="center-content">
    <div class="example-header-image"></div>
    <h2>
      Bitte bestätigen Sie Ihre E-Mail-Adresse um fortzufahren! <br /> Vergessen Sie nicht
      Ihren Spam-Ordner zu überprüfen.
    </h2>
    <button (click)="sendUserToLogin()" mat-button color="primary">
      Ich habe die E-Mail erhalten
    </button>
  </div> -->

  <div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>E-Mail bestätigen</mat-card-title>
        <mat-card-subtitle>Bitte bestätigen Sie Ihre E-Mail-Adresse um fortzufahren! Vergessen Sie nicht
          Ihren Spam-Ordner zu überprüfen.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <button
          (click)="
            sendUserToLogin()
          "
          mat-button
          color="primary"
        >
        Ich habe die E-Mail erhalten
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</body>
</html>




