.form-wrapper {
  display: flex;
  padding: 10px;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  .btn {
    align-self: flex-end;
    @media screen and (max-width: 500px) {
      align-self: stretch;
    }
  }
  @media screen and (max-width: 500px) {
    padding: 10px;
    height: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  :not(:last-child) {
    margin-right: 10px;
    @media screen and (max-width: 500px) {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.imgUpload {
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.upload-container {
  align-items: flex-start;
  @media screen and (max-width: 500px) {
    align-items: stretch;
    margin-bottom: 10px;
  }
}

img {
  width: 200px;
  height: auto;
}

.btn-img {
  height: 35px;
}

.space {
  margin-top: 20px;
  @media screen and (max-width: 500px) {
    margin-top: 0px;
  }
}

.example-full-width {
  width: 100%;
}

.btn {
  @media screen and (max-width: 500px) {
    margin-top: 0px;
  }
}
