<form class="form-wrapper" [formGroup]="reactiveForm">
  <div class="row">
    <mat-form-field class="example-full-width">
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Preis</mat-label>
      <input
        matInput
        placeholder="16€ oder biete hilfe bei Gartenarbeit"
        formControlName="price"
      />
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Beschreibung</mat-label>
    <textarea
      matInput
      placeholder="Controler für PS5"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <div class="row space">
    <mat-form-field appearance="fill">
      <mat-label>Kategorie</mat-label>
      <mat-select formControlName="categorie">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="containsImage">
      <div class="imgUpload">
        <ng-container *ngIf="!imgUrl">
          <mat-label>Wähle ein Bild</mat-label>
          <input
            type="file"
            (change)="imageUpload(fileInputImage.files[0])"
            #fileInputImage
            accept="image/*"
          />
        </ng-container>
      </div>
      <ng-container *ngIf="imgUrl">
        <img [src]="imgUrl" />
        <button
          mat-stroked-button
          type="submit"
          (click)="clearImg()"
          class="btn-img"
        >
          Neues Bild auswählen
        </button>
      </ng-container>
    </ng-container>
  </div>

  <mat-divider class="space"></mat-divider>
  <div class="row space">
    <mat-form-field class="example-full-width">
      <mat-label>Vorname</mat-label>
      <input
        matInput
        formControlName="fistname"
        [(ngModel)]="currentUser.firstName"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nachname</mat-label>
      <input
        matInput
        formControlName="lastname"
        [(ngModel)]="currentUser.lastName"
      />
    </mat-form-field>
  </div>
  <div class="row space">
    <mat-form-field class="example-full-width">
      <mat-label>Stadt</mat-label>
      <input
        matInput
        placeholder="Hamburg"
        formControlName="city"
        [(ngModel)]="currentUserAdress.city"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Stadtteil</mat-label>
      <input
        matInput
        placeholder="St. Pauli"
        formControlName="discrtict"
        [(ngModel)]="currentUserAdress.city"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Straße, Hausnummer, Plz</mat-label>
      <input
        matInput
        placeholder="Beispielstraße 2, 22767"
        formControlName="address"
        [(ngModel)]="currentUserAdress.street"
      />
    </mat-form-field>
  </div>

  <div class="row btn space">
    <button mat-stroked-button type="submit" (click)="close()">zurück</button>
    <button
      mat-stroked-button
      type="submit"
      color="primary"
      (click)="handleSubmit()"
    >
      erstellen
    </button>
  </div>
</form>
